<div class="container">
    <h2>Create Account</h2>
    <form name="form" ng-submit="signupCtrl.signup()" role="form">
        <div class="form-group">
            <input type="text" placeholder="Username" name="username" id="username" class="form-control" ng-model="signupCtrl.formData.username" required />
            <!-- <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span> -->
        </div>
        <div class="form-group">
            <input type="text" placeholder="Password" name="password" id="password" class="form-control" ng-model="signupCtrl.formData.password" required />
            <!-- <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span> -->
        </div>
        <div class="form-group">
            <input type="text" placeholder="E-mail" name="email" id="email" class="form-control" ng-model="signupCtrl.formData.email" required />
            <!-- <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-mail is required</span> -->
        </div>
        <div class="form-actions">
            <!-- <button type="submit" ng-disabled="form.$invalid || signup.dataLoading" class="btn btn-primary">CREATE!!!</button> -->
            <button type="submit" class="btn btn-primary">CREATE!!!</button>
            <a href="#/" class="btn btn-link">Already have an account?</a>
        </div>
    </form>
</div>