<div class="container">
    <h2>{{listCtrl.boardName}}</h2>
    <!-- Lists input -->
    <form role="form" ng-submit="listCtrl.createList()">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="listCtrl.formData.name" placeholder="Start a New List" class="form-control">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add">
                </span>
            </div>
        </div>
    </form>
    <div class="input-group" ng-repeat="list in listCtrl.lists">
        <p class="input-group col-md-4">
            <div class="col-md-12">
                <p class="input-group">
                    <input type="text" ng-model="list.name" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="listCtrl.updateList(list._id, list.name)" aria-label="Update">Edit</button>
                        <button class="btn btn-danger" ng-click="listCtrl.deleteList(list._id)" aria-label="Remove">X</button>
                    </span>
                </p>
            </div>
        </p>
        <div class="col-sm-8 input-group" ng-controller="TodoController as todoCtrl">
            <div ng-init="todoCtrl.getTodos(list._id)">
                <div class="todo-items input-group" ng-repeat="todo in todoCtrl.todos">
                    <input type="text" ng-model="todo.name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="todoCtrl.updateTodo(todo._id, todo.name)" aria-label="Update">Edit</button>
                        <button class="btn btn-danger" ng-click="todoCtrl.deleteTodo(todo._id)" aria-label="Remove">X</button>
                    </span>
                </div>
                <form role="form" ng-submit="todoCtrl.createTodo(list._id)">
                    <input type="text" ng-model="todoCtrl.formData.name" placeholder="What needs to be done?" class="form-control">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Add">
                    </span>
                </form>
            </div>
        </div>
    </div>
    <a class='btn btn-primary' href="#/boards"> Go Back to Boards</a>
</div>