<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Trello-Clone</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/users">Users</a></li>
        <li><a href="#/boards">Boards</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signin">Logout</a></li>
        <li class="active"><a href="#/update-account">My Account<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <h2>Update My Account</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-8">
      <p class="input-group">
        <input type="text" ng-model="userCtrl.password" class="form-control" placeholder="New Password">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="userCtrl.updateUser(user._id, user.password,user.email)" aria-label="Update">Edit</button>
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-8">
      <p class="input-group">
        <input type="text" ng-model="userCtrl.email" class="form-control" placeholder="New E-mail">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="userCtrl.updateUser(user._id, user.password,user.email)" aria-label="Update">Edit</button>
        </span>
      </p>
    </div>
  </div>
</div>