<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Trello-Clone</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <h2>Welcome! Please sign in.</h2>
  <form name="form" ng-submit="signinCtrl.signin()" role="form">
    <div class="form-group">
      <input type="text" placeholder="Username" name="username" id="username" class="form-control" ng-model="signinCtrl.username" required />
      <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Password" name="password" id="password" class="form-control" ng-model="signinCtrl.password" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid || signinCtrl.dataLoading" class="btn btn-primary">Sign In</button>
      <a href="#/signup" class="btn btn-link">Create Account</a>
    </div>
</div>