<div class="container">
    <h2>Your Current Boards</h2>
    <!-- Boards input -->
    <form role="form" ng-submit="boardCtrl.createBoard()">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="boardCtrl.formData.name" placeholder="Start a New Board" class="form-control">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add">
                </span>
            </div>
        </div>
    </form>

    <!-- buttons and forms-->
    <div ui-sortable ng-model="boardCtrl.boards" id="boards-lists">
        <p class="input-group" ng-repeat="board in boardCtrl.boards track by $index">
            <input type="text" ng-model="board.name" class="form-control">
            <span class="input-group-btn">
                <a class='btn btn-primary' href="#/lists?boardId={{board._id}}&boardName={{board.name}}">Show Board</a>
                <button class="btn btn-default" ng-click="boardCtrl.updateBoard(board._id, board.name)" aria-label="Update">Edit</button>
                <button class="btn btn-danger" ng-click="boardCtrl.deleteBoard(board._id)" aria-label="Remove">X</button>å
            </span>
        </p>
    </div> 

</div>